html, body {
    margin: 0;
    padding: 0;
    background-color: #1778bd;
}
h3 {
    padding-left: 10px;
    font-family: 'Source Sans Pro', sans-serif;
}

p {
    padding: 10px;
    font-family: 'Source Sans Pro', sans-serif;
}


nav {
    display: flex;
    background-color: #ffffff;
}

nav div {
    height: 30px;
    flex-grow: 4;
    padding: 10px;
}

nav div img {
    height: 100%;
}


nav div.search-container {
    text-align: center;
}
    
nav div.search-container > input {
    box-sizing: border-box;
    height: 30px;
    width: 50%;
    border: 1px solid #e0e0e0;
}
    
nav div.search-container > button {
    box-sizing: border-box;
    color: white;
    font-weight: bold;
    height: 30px;
    width: 15%;
    margin: 0;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    background-color:#0d5797;
}

.navigation {
    top: 0;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.box {
    position: relative;
    left: 30%;
    right: 30%;
    width: 40%;
    height: 100%;
    background-color: white;
    display: flex;
    padding-bottom: 25px;
    flex-direction: column;
    align-items: center;
}

.post {
    margin-top: 13%;
    width: 80%;
    height: 50%; 
    background-color: white;
    box-shadow: 0 0 20px rgba(33,33,33,.2);
}

.userpic {
    display: inline;
    height: 100%;
    max-width: 50%; 
    text-align: left;
}

.textgrey {
    display: inline;
    height: 100%;
    max-width: 50%;
    float: right;
    color: grey;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0%;
}

.top {
    height: 25px;
    flex-grow: 4;
    padding: 5px;
}



.contentpic {
    width: 100%;
    padding-bottom: 10px;
}

.author {
    display: inline;
    height: 100%;
}

.likebutton {
    height: 30px;
    flex-grow: 4;
    padding-left: 10px;
    padding-bottom: 10px;
}

.likebuttonpic {
    height: 100%;
    display: inline;
    float: left;
}

.usericon{
    position:relative;
    display:inline-block;
    text-align: right;
}

.usericon > button {
    border: 0px;
    background-color:white;
}

.dropdown {
    display:none;
    height:40px;
    text-align: left;
    position: absolute;
    background-color: #f1f1f1;
    width:100%;
    z-index: 1;
    border-bottom: 1px solid rgb(83, 72, 72);
}


.show {display: block;}

#userData p {
    font-size: 16px;
    padding: 0px;
    margin:0px;
}