html, body {
    margin: 0;
    padding: 0;
    background-color: #1778bd;
}

.navigation {
    top: 0;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

nav {
    display: flex;
    background-color: #ffffff;
}

nav div {
    height: 30px;
    flex-grow: 4;
    padding: 10px;
}

nav div img {
    height: 100%;
}

.usericon {
    text-align: right;
}

nav div.search-container {
    text-align: center;
}
    
nav div.search-container > input {
    box-sizing: border-box;
    height: 30px;
    width: 50%;
    border: 1px solid #e0e0e0;
}
    
nav div.search-container > button {
    box-sizing: border-box;
    color: white;
    font-weight: bold;
    height: 30px;
    width: 15%;
    margin: 0;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    background-color:#0d5797;
}


.box {
    position: relative;
    left: 30%;
    right: 30%;
    width: 40%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post1 {
    margin-top: 13%;
    width: 80%;
    height: 50%; 
    background-color: white;
    box-shadow: 0 0 20px rgba(33,33,33,.2); 
}

.post2 {
    margin-top: 3%;
    width: 80%;
    height: 50%; 
    background-color: white;
    box-shadow: 0 0 20px rgba(33,33,33,.2); 
}

.post3 {
    margin-top: 3%;
    margin-bottom: 5%;
    width: 80%;
    height: 50%; 
    background-color: white;
    box-shadow: 0 0 20px rgba(33,33,33,.2);  
}

/* div div img {
    height: 100%;
    display: inline;
    float: left;
}

div div p {
    height: 100%;
    display: inline;
    float: right;
} */

.userpic {
    display: inline;
    height: 100%;
    max-width: 50%;
    text-align: left;
}

.textgrey {
    display: inline;
    height: 100%;
    max-width: 50%;
    float: right;
    color: grey;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0%;
}

.top {
    height: 25px;
    flex-grow: 4;
    padding: 5px;
}
.contentpic {
    width: 100%;
    padding-bottom: 10px;
}

h3 {
    padding-left: 10px;
    font-family: 'Source Sans Pro', sans-serif;
}

.likebutton {
    height: 30px;
    flex-grow: 4;
    padding-left: 10px;
    padding-bottom: 10px;
}

.likebuttonpic {
    height: 100%;
    display: inline;
    float: left;
}