<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/contact.css">
  <title>Contact us</title>
</head>

<body>
  <%- include('./partials/header.ejs') %>
    <div class="creators">
      <h1>Homework creators:</h1>
      <h2>Kertu-Carina Kallaste</h2>
      <h2>Markus Kikkatalo</h2>
      <h2>Emma Belinda Semilarski</h2>
      <h3 class="github">
        <a href="https://github.com/mkikk/WAD_GROUP_AO/hw-4">Github repo link</a>
      </h3>
    </div>
    <footer class="fixed">
      <%- include('./partials/footer.ejs') %>
    </footer>
</body>

</html>