<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/header.css" />
  <title>Header</title>
</head>

<body>
  <header class="navbar">
    <img src="/images/icon.png" alt="logo" />
    <div class="navLinks">
      <a href="/">Home </a> | <a href="/posts">Posts page</a> |
      <a href="/create">Create Post</a> | <a href="/contactus">Contact us</a>
    </div>
    <img src="/images/usericon.png" alt="usericon" class="usericon"/>
  </header>
</body>

</html>